.bg-base-weak {
  background-color: #fff;
}

.shadowed {
  box-shadow: 0 0 3px #878c9e08, 0 4px 8px #878c9e14;
}

.nav-link {
  cursor: pointer;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.animate-blink {
  animation: blink 1s infinite;
}

@media (min-width: 576px) {
  .header-bg {
    height: 102px;
  }
}