<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="card bg-dark text-white shadow rounded-4 p-4">
    <h2 class="mb-4">Регистрации</h2>
      <form [formGroup]="form">
        <!-- Логин -->
        <div class="mb-3">
          <label for="user_login" class="form-label">Логин</label>
          <input
            id="user_login"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': form.get('user_login')?.invalid && form.get('user_login')?.touched,
              'is-valid': form.get('user_login')?.valid && form.get('user_login')?.touched
            }"
            formControlName="user_login"
          />
          <div class="invalid-feedback">
            Поле обязательно для заполнения.
          </div>
        </div>

        <!-- Пароль -->
        <div class="mb-4">
          <label for="password" class="form-label">Пароль</label>
          <input
            id="password"
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': form.get('password')?.invalid && form.get('password')?.touched,
              'is-valid': form.get('password')?.valid && form.get('password')?.touched
            }"
            formControlName="password"
          />
          <div class="invalid-feedback">
            Введите пароль.
          </div>
        </div>

        <!-- Повтор пароля -->
        <div class="mb-4">
          <label for="passwordAgain" class="form-label">Повторите пароль</label>
          <input
            id="passwordAgain"
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': (form.get('passwordAgain')?.invalid && form.get('passwordAgain')?.touched) || form.errors?.['passwordMismatch'],
              'is-valid': form.get('passwordAgain')?.valid && !form.errors?.['passwordMismatch'] && form.get('passwordAgain')?.touched
            }"
            formControlName="passwordAgain"
          />
          <div *ngIf="form.errors?.['passwordMismatch'] && form.get('passwordAgain')?.touched" class="invalid-feedback">
            Пароли не совпадают.
          </div>
          <div *ngIf="form.get('passwordAgain')?.hasError('required') && form.get('passwordAgain')?.touched" class="invalid-feedback">
            Повторите пароль.
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 fw-semibold rounded-pill shadow-sm" [disabled]="form.invalid" (click)="submit()">регистрация</button>
      </form>
    </div>
  </div>
</div>