<div class="layout-wrapper d-flex flex-column min-vh-100">
  <header>
    <app-header></app-header>
  </header>

  <main class="flex-grow-1">
    <article>
      <section class="container-fluid container-lg pt-5 pt-md-7">
        <router-outlet></router-outlet>
        <app-toast-container></app-toast-container>
      </section>
    </article>
    <app-chat *ngIf="(isAuthorized$ | async)" [class.invisible]="!(isChatVisible$ | async)" class="chat-sidebar open"></app-chat>
  </main>

  <app-footer></app-footer>
</div>