<h1 class="display-5 fw-bold mb-4 text-light">Ваш вишлист</h1>

<div class="row">

  <div class="col-12 px-0 mb-4">
    <div class="card bg-dark text-white shadow rounded-4 overflow-hidden" *ngIf="!!(activePlatforms$ | async)?.length">
      <div class="p-3">
        <ul class="nav nav-pills flex-wrap justify-content-start mb-0">
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(6)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 6"
              (click)="setActiveCategory(6)">
              PC
            </a>
          </li>
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(38)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 38"
              (click)="setActiveCategory(38)">
              PSP
            </a>
          </li>
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(8)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 8"
              (click)="setActiveCategory(8)">
              PS2
            </a>
          </li>
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(9)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 9"
              (click)="setActiveCategory(9)">
              PS3
            </a>
          </li>
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(48)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 48"
              (click)="setActiveCategory(48)">
              PS4
            </a>
          </li>
          <li class="nav-item me-2 mb-2"
              *ngIf="(activePlatforms$ | async)?.includes(167)">
            <a class="nav-link px-4 py-2 fw-semibold rounded-pill"
              [class.active]="activeCategory === 167"
              (click)="setActiveCategory(167)">
              PS5
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!!(collection$ | async)?.length else emptyWishlist;">
    <div
      class="col-xl-2 col-lg-3 col-md-4 col-sm-6 p-3"
      *ngFor="let product of collection$ | async"
    >
      <div
        class="card game-card h-100 border-0 shadow-sm hover-shadow position-relative"
        [routerLink]="['/products/' + product.product_id.toString(), {platform: activeCategory}]"
        style="cursor: pointer;"
        (click)="null"
      >
        <div
          class="card-img-top bg-dark-subtle d-flex align-items-center justify-content-center"
          style="height: 180px; overflow: hidden;"
        >
          <img
            [src]="product.image_url"
            [alt]="product.product_name"
            class="img-fluid"
            style="max-height: 100%; object-fit: cover;"
          />
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h6 class="card-title text-truncate fw-bold mb-1">
              {{ product.product_name }}
            </h6>
            <p class="text-lite-muted small mb-3">
              {{ product.platform_name }} [{{ product.region_name }}]
            </p>
          </div>

          <button
            type="button"
            class="btn btn-danger btn-sm mt-auto"
            (click)="remove(product.release_id, $event); $event.stopPropagation();"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyWishlist>
    <div class="card bg-dark text-white shadow rounded-4 p-4 p-md-5 text-center my-4">
      <h5 class="text-warning mb-3">Вишлист пока пуст</h5>

      <p class="text-light mb-2">
        Не нашли, что ищете? Добавляйте игры в 
        <a [routerLink]="'/wishlist'" class="text-info text-decoration-none fw-semibold">вишлист</a>, 
        чтобы следить за их появлением в продаже или на обмен.
      </p>

      <p class="text-light mb-2">
        Это отличный способ отслеживать редкие издания, нужные дополнения и просто игры, которые вы хотите попробовать.
      </p>

      <p class="text-light mb-4">
        Начните с <a [routerLink]="'/products'" class="text-info text-decoration-none fw-semibold">каталога</a> — 
        найдите любимые тайтлы и добавьте их в свой список желаемого. Так вы ничего не упустите!
      </p>

      <div>
        <a [routerLink]="'/products'" class="btn btn-outline-info btn-lg fw-semibold">
          Перейти в каталог
        </a>
      </div>
    </div>
  </ng-template>


  <div class="col-12 mt-4 p-0">
    <app-pager (pageChange)="pageChanged($event)" [limit]="limit" [totalCount]="(wishlistTotalCount$ | async) || 0"></app-pager>
  </div>

</div>